@charset "UTF-8";
/* ========================================
  global
======================================== */
/* ----------------------------------------
  Network（ネットワーク）
---------------------------------------- */
.global-partner {
  position: relative;
  background: #f5f5f5 url("../../../img/page/global-network/partner_bg_sp.webp") no-repeat left top/100%;
}
@media screen and (min-width: 769px) {
  .global-partner {
    background: #f5f5f5 url("../../../img/page/global-network/partner_bg.webp") no-repeat left top/100%;
  }
}
.global-partner__inner {
  padding-block: 5.625rem 5.3125rem;
}
@media screen and (min-width: 769px) {
  .global-partner__inner {
    padding-block: 9.375rem 8.75rem;
  }
}
.global-partner__desc {
  margin-top: 1.5625rem;
}
@media screen and (min-width: 769px) {
  .global-partner__desc {
    margin-top: 2.8125rem;
  }
}
.global-partner__regions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.5rem;
}
@media screen and (min-width: 769px) {
  .global-partner__regions {
    gap: 3.75rem 2rem;
    margin-top: 3.75rem;
  }
}
@media (1160px <= width) {
  .global-partner__regions {
    flex-flow: row wrap;
  }
}
.global-partner__region {
  padding: 1.25rem 0.625rem;
  background-color: #fff;
  border-radius: 0.25rem;
}
@media screen and (min-width: 769px) {
  .global-partner__region {
    padding: 1.75rem 2.5rem 2rem;
  }
}
@media (1160px <= width) {
  .global-partner__region {
    flex: 1 1 calc((100% - 4rem) / 3);
  }
}
.global-partner__region-label {
  display: block;
  font-family: var(--ff-garamond);
  font-size: 1.25rem;
  font-weight: 700;
  color: #d1b994;
}
@media screen and (min-width: 769px) {
  .global-partner__region-label {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 769px) {
  .global-partner__countries-wrap {
    padding-top: 0.625rem;
  }
}
@media screen and (max-width: 768px) {
  .global-partner__countries-wrap {
    padding: 0.625rem 0.9375rem;
  }
}
.global-partner__countries {
  display: flex;
  flex-flow: column wrap;
  gap: 0.625rem 1.25rem;
  max-height: 11lh;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2.23;
}
@media screen and (min-width: 769px) {
  .global-partner__countries {
    gap: 0.625rem 1.5625rem;
  }
}
.global-partner__countries.-lg {
  max-height: 22lh;
}
@media (1160px <= width) {
  .global-partner__countries.-lg {
    max-height: 21lh;
  }
}
.global-partner__country {
  position: relative;
  padding-left: 0.625rem;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .global-partner__country {
    width: calc(50% - 0.625rem);
  }
}
.global-partner__country::before {
  position: absolute;
  top: calc(0.5lh - 0.1875rem);
  left: 0;
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  content: "";
  background-color: #d1b994;
  border-radius: 50%;
}

/* ----------------------------------------
  Cross-border（クロスボーダーM&A）
---------------------------------------- */
.global-crossborder {
  position: relative;
  overflow: hidden;
  background-color: #111;
}
.global-crossborder__inner {
  padding-block: 5.75rem 12.1875rem;
}
@media screen and (min-width: 769px) {
  .global-crossborder__inner {
    padding-block: 9.375rem 13.125rem;
  }
}
.global-crossborder__head {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (1120px <= width) {
  .global-crossborder__head {
    flex-direction: row;
    align-items: end;
  }
}
@media screen and (min-width: 769px) {
  .global-crossborder__head {
    gap: 2.5rem;
    justify-content: space-between;
  }
}
@media (1120px <= width) {
  .global-crossborder__txt-wrap {
    flex: 0 0 32.75rem;
  }
}
.global-crossborder__desc {
  color: #fff;
  text-align: justify;
}
.global-crossborder__note {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  color: #fff;
}