@use "../../foundation" as *;

/* ========================================
  home
======================================== */

/* ----------------------------------------
  共通: セクションタイトル
---------------------------------------- */
.p-home-section-title {
  display: flex;
  flex-direction: column;
  gap: rem(8);

  &__en {
    font-family: var(--ff-garamond);
    font-size: rem(90);
    font-weight: 400;
    line-height: 1.1;
    background: var(--gradient-text-light);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__ja {
    font-family: var(--ff-noto-serif);
    font-size: rem(16);
    font-weight: 400;
  }

  &.-dark {
    .p-home-section-title__en {
      background: var(--gradient-text-dark);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .p-home-section-title__ja {
      color: #fff;
    }
  }
}

/* ----------------------------------------
  共通: CTAボタン
---------------------------------------- */
.p-home-cta-btn {
  display: inline-flex;
  gap: rem(32);
  align-items: center;
  min-width: rem(320);
  padding: rem(24);
  background: var(--gradient-gold);
  border-radius: 999px;
  transition: opacity 0.3s;

  &__text {
    font-family: var(--ff-mincho);
    font-size: rem(18);
    font-weight: 700;
    color: #fff;
  }

  &__arrow {
    display: flex;
    align-items: center;
    color: #fff;
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.85;
    }
  }
}

/* ========================================
  MV（メインビジュアル）
======================================== */
.home-mv {
  position: relative;
  height: rem(832);
  overflow: hidden;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../../../img/home/mv_bg.webp") no-repeat center top / 100%;
  }

  &__content {
    height: inherit;
    padding-top: fluid-clamp(150, 290);
    padding-left: rem(40);
  }

  &__ttl {
    display: inline-block;
    font-family: var(--ff-garamond);
    font-size: rem(100);
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.015em;
    background: linear-gradient(95.56deg, #111 0.27%, #e7c8a3 99.8%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__sttl {
    padding-left: rem(10);
    margin-top: rem(18);
    font-family: var(--ff-mincho);
    font-size: rem(26);
    font-weight: 600;
  }

  &__scroll {
    position: absolute;
    bottom: rem(-5);
    left: rem(35);
    display: flex;
    flex-direction: column;
    gap: rem(12);
    align-items: center;
    padding-bottom: rem(123);
    font-family: var(--ff-garamond);
    font-size: rem(14);
    line-height: 1;
    color: #aeaeae;
    writing-mode: vertical-rl;

    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      left: calc(50% - 2px);
      display: block;
      width: 1px;
      height: rem(120);
      content: "";
      background-color: #aeaeae;
    }

    &::before {
      z-index: 2;
      background-color: #b29276;
      animation: scroll 2s infinite;
    }
  }

  @keyframes scroll {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }

    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }

    51% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }

    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }

  &__news {
    position: absolute;
    right: 0;
    bottom: rem(60);
    display: flex;
    gap: rem(18);
    width: min(100%, rem(566));
    padding-block: rem(10);
    padding-inline: rem(20) rem(40);
    color: #fff;
    background-color: var(--color-dark);
    border-radius: rem(4) 0 0 rem(4);
  }

  &__news-label {
    display: grid;
    align-items: center;
    padding-right: rem(18);
    font-family: var(--ff-garamond);
    font-size: rem(16);
    border-right: 1px solid rgba(#fff, 0.5);
  }

  &__news-content {
    display: grid;
    flex: 1;
    align-content: center;
    line-height: 1.5;
  }

  &__news-date {
    font-family: var(--ff-jost);
    font-size: rem(12);
    color: rgba(#fff, 0.5);
  }

  &__news-ttl {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    font-family: var(--ff-gothic);
    font-size: rem(14);
    -webkit-box-orient: vertical;
  }

  &__copyright {
    position: absolute;
    top: rem(262);
    right: rem(32);
    font-family: var(--ff-garamond);
    font-size: rem(10);
    font-weight: 500;
    color: #aeaeae;
    writing-mode: vertical-rl;
  }
}

/* ========================================
  About
======================================== */
.home-about {
  position: relative;
  overflow: hidden;

  &__bg-txt {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__inner {
    position: relative;
    display: flex;
    gap: rem(40);
    align-items: flex-start;
    justify-content: space-between;
    padding-block: rem(160) rem(225);

    @include mq(tab) {
      padding-right: rem(90);
    }

    @include mq(tab, max) {
      flex-direction: column;
      gap: rem(40);
    }
  }

  &__heading {
    flex-shrink: 0;
  }

  &__txt {
    font-family: var(--ff-mincho);
    font-size: rem(20);
    line-height: 2;
  }

  &__btn-wrap {
    margin-top: rem(32);
  }
}

/* ========================================
  Service
======================================== */
.home-service {
  padding-block: rem(140) rem(150);
  background: url("../../../img/home/service_bg.webp") no-repeat center top /
    100%;

  &__inner {
    position: relative;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__desc {
    margin-top: rem(40);
    font-family: var(--ff-mincho);
    color: #fff;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(14);
    margin-top: rem(50);

    @include mq(tab, max) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(tab, max) {
      @media (width <= 480px) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__card {
    position: relative;
    min-height: rem(172);
    background: rgb(255 255 255 / 16%);
    border: 1px solid var(--color-gray-border);
    border-radius: 4px;
    transition: background 0.3s;

    @media (any-hover: hover) {
      &:hover {
        background: rgb(255 255 255 / 24%);
      }
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        &::before {
          position: absolute;
          top: rem(15);
          right: rem(20);
          font-family: var(--ff-garamond);
          font-size: rem(14);
          line-height: 1;
          color: var(--color-gray);
          content: "0#{$i}";
        }
      }
    }
  }

  &__card-link {
    display: block;
    height: 100%;
    padding: rem(6) rem(20) rem(20);
  }

  &__card-category {
    display: inline-block;
    font-family: var(--ff-garamond);
    font-size: rem(14);
    font-weight: 500;
    line-height: 1;
    background: linear-gradient(94deg, #75675b, #e7c8a3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__card-ttl {
    margin-top: rem(10);
    font-family: var(--ff-mincho);
    font-size: rem(22);
    font-weight: 400;
    color: #fff;
  }

  &__card-desc {
    font-family: var(--ff-gothic);
    font-size: rem(16);
    color: #fff;
  }
}

/* ========================================
  Group Companies
======================================== */
.home-group {
  padding-block: rem(175) rem(130);

  &__inner {
    display: flex;
    gap: rem(70);
    align-items: flex-start;

    @include mq(tab, max) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 0 rem(400);
  }

  &__txt {
    margin-top: rem(40);
    font-family: var(--ff-mincho);
    font-size: rem(16);
    color: #000;
  }

  &__btn-wrap {
    margin-top: rem(34);
  }

  &__cards {
    display: flex;
    flex: 1;

    @include mq(tab, max) {
      flex-direction: column;
    }
  }

  &__card {
    position: relative;
    width: 50%;
    height: rem(480);
    overflow: hidden;
    border-radius: rem(4);

    &:nth-child(2) {
      top: rem(-48);

      @include mq(tab, max) {
        top: 0;
      }
    }

    .-card1 {
      &::before {
        background-image: url("../../../img/home/group_bg_01.webp");
      }
    }

    .-card2 {
      &::before {
        background-image: url("../../../img/home/group_bg_02.webp");
      }
    }
  }

  &__card-content {
    position: relative;
    display: grid;
    place-content: center;
    height: 100%;
    padding: rem(20) rem(48);
    color: #fff;

    &::before {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (hover: hover) {
      &::before {
        transition: 0.5s;
        transition-property: filter, transform;
      }

      .home-group__card-ttl {
        transition: 0.5s;
        transition-property: transform;
      }

      .home-group__card-desc {
        transition: 0.5s;
        transition-delay: 0.2s;
        transition-property: opacity;
      }

      &:hover {
        &::before {
          filter: blur(1px) brightness(0.85);
          transform: scale(1.06);
        }

        .home-group__card-ttl {
          transform: translateY(0);
        }

        .home-group__card-desc {
          opacity: 1;
        }
      }
    }
  }

  &__card-ttl {
    position: relative;
    padding-bottom: rem(24);
    font-family: var(--ff-mincho);
    font-size: rem(24);
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 rem(18) rgb(0 0 0 / 100%);
    transform: translateY(100%);

    &::before {
      position: absolute;
      inset-inline: 0;
      bottom: 0;
      display: block;
      width: rem(40);
      height: 1px;
      margin-inline: auto;
      content: "";
      background-image: linear-gradient(
        to right,
        transparent,
        #fff,
        transparent
      );
    }
  }

  &__card-desc {
    position: relative;
    margin-top: rem(24);
    overflow: hidden;
    font-family: var(--ff-mincho);
    opacity: 0;
  }
}

/* ========================================
  Performance
======================================== */
.home-performance {
  position: relative;
  background: #333;

  &__overlay {
    position: absolute;
    inset: 0;
    background: url("../../../img/home/performance_bg.webp") no-repeat center
      top / cover;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: rem(150) rem(160);

    @include mq(tab, max) {
      flex-direction: column;
      gap: rem(60);
    }
  }

  &__head {
    width: min(100%, rem(500));
  }

  &__body {
    align-self: flex-end;
    width: min(100%, rem(534));
  }

  &__txt {
    margin-top: rem(44);
    font-family: var(--ff-mincho);
    font-size: rem(16);
    color: #fff;
  }

  &__btn-wrap {
    margin-top: rem(40);
  }

  &__stats {
    display: flex;
    align-items: center;
    border-right: 1px solid #797979;
    border-left: 1px solid #797979;
  }

  &__stat {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & + & {
      border-left: 1px solid #797979;
    }
  }

  &__stat-label {
    font-family: var(--ff-mincho);
    font-size: rem(18);
    font-weight: 600;
    color: var(--color-gold-mid);
  }

  &__stat-value {
    display: flex;
    align-items: baseline;
  }

  &__stat-num {
    font-family: var(--ff-garamond);
    font-size: rem(126);
    font-weight: 400;
    line-height: 1;
    color: #fff;
  }

  &__stat-unit {
    margin-left: rem(4);
    font-family: var(--ff-noto-serif);
    font-size: rem(32);
    color: #fff;
  }

  &__stat-sublabel {
    margin-top: rem(10);
    font-family: var(--ff-garamond);
    font-size: rem(14);
    font-weight: 500;
    line-height: 1;
    color: #fff;
  }

  &__stat-divider {
    display: block;
    width: 1px;
    height: rem(177);
    background-color: rgb(255 255 255 / 30%);
  }

  &__note {
    position: relative;
    margin-top: rem(40);
    font-family: var(--ff-gothic);
    font-size: rem(12);
    color: #fff;
  }
}

/* ========================================
  Global Network
======================================== */
.home-global {
  position: relative;
  background: #f5f5f5;

  &__overlay {
    position: absolute;
    inset: 0;
    background: url("../../../img/home/global_network_bg.webp") no-repeat center
      top / cover;
  }

  &__inner {
    position: relative;
    padding-block: rem(150) rem(160);
  }

  &__txt {
    margin-top: rem(45);
    font-family: var(--ff-mincho);
    font-size: rem(16);
    color: #fff;
  }

  &__img {
    margin-top: rem(32);
  }
}

/* ========================================
  News
======================================== */
.home-news {
  &__inner {
    position: relative;
    display: flex;
    gap: rem(30) rem(135);
    padding-block: rem(120) rem(140);
  }

  &__header {
    padding-top: rem(20);
  }

  &__btn-wrap {
    margin-top: rem(100);
  }

  &__list {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__item {
    border-bottom: 1px solid #e0e0e0;
  }

  &__link {
    position: relative;
    display: flex;
    gap: rem(30);
    align-items: center;
    padding-block: rem(32);
    padding-right: rem(50);

    &::after {
      position: absolute;
      inset-block: 0;
      right: rem(8);
      width: rem(24);
      height: rem(7);
      margin-block: auto;
      content: "";
      background: url("../../../img/common/icon/arrow_solid_r_black.webp")
        no-repeat center / contain;
    }

    @media (any-hover: hover) {
      &::after {
        transition: 0.3s;
        transition-property: right;
      }

      .home-news__ttl {
        transition: 0.3s;
        transition-property: color;
      }

      &:hover {
        &::after {
          right: 0;
        }

        .home-news__ttl {
          color: #9d8160;
        }
      }
    }
  }

  &__date {
    flex: 0 0 rem(109);
    font-family: var(--ff-mincho);
    font-size: rem(16);
    border-right: 1px solid #cdcdcd;
  }

  &__ttl {
    flex: 1;
    font-family: var(--ff-mincho);
    font-size: rem(16);
    font-weight: 600;
    line-height: 1.6;
  }
}

/* ========================================
  Get in Touch
======================================== */
.home-touch {
  background-color: var(--color-footer-bg);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: rem(75);
  }

  &__ttl {
    font-family: var(--ff-garamond);
    font-size: rem(100);
    font-weight: 400;
    line-height: 1.1;
    color: #e6e6e6;

    @include mq(tab, max) {
      font-size: rem(60);
    }
  }

  &__contact {
    display: grid;
    place-content: center;
    width: rem(150);
    height: rem(150);
    font-family: var(--ff-garamond);
    font-size: rem(28);
    color: #fff;
    border: 1px solid #777;
    border-radius: 50%;
  }
}
