.vscode/
node_modules
package-lock.json
.DS_Store
.node-versions

# --------------------
# src
# --------------------
/src/img/

# --------------------
# WordPress
# --------------------
/db/
/dest/app/*
!/dest/app/wp-content/
/dest/app/wp-content/*
!/dest/app/wp-content/themes/
/dest/app/wp-content/themes/*
!/dest/app/wp-content/themes/roleup_2026/
