@use "../../foundation" as *;

/* ========================================
  note
======================================== */

.c-note {
  padding-left: 1em;
  text-indent: -1em;

  &::before {
    content: "※";
  }
}
