@use "../foundation" as *;

/* ========================================
  footer（共通）
======================================== */

.l-footer {
  $this: &;

  color: #fff;
  background: linear-gradient(to bottom, rgba(#202020, 0.9), #202020);
  border-top: 1px solid #b4b4b4;

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: rem(150) rem(20);
    padding-block: rem(130) rem(60);
  }

  &__head {
  }

  &__logo {
    margin-bottom: rem(24);

    a {
      display: inline-block;
    }
  }

  &__address {
    font-family: var(--ff-mincho);
    font-size: rem(12);
    font-style: normal;
    font-weight: 500;
  }

  &__nav {
    display: flex;
    gap: rem(60);
    justify-content: flex-end;
    padding-top: rem(12);
  }

  &__nav-heading {
    margin-bottom: rem(7);
    font-family: var(--ff-garamond);
    line-height: 1.4;
    color: var(--color-gray-light);
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: rem(7);

    &.-space-lg {
      gap: rem(22);
    }
  }

  &__nav-item {
    a {
      display: block;
      font-family: var(--ff-mincho);
      font-size: rem(14);
      font-weight: 500;
      line-height: 1.4;
    }
  }

  &__copyright {
    font-family: var(--ff-garamond);
    color: var(--color-gray-light);

    small {
      font-size: rem(10);
      font-weight: 500;
    }
  }
}
