@use "../foundation" as *;

/* ========================================
  header（共通）
======================================== */
.l-header {
  $this: &;

  width: 100%;
  height: var(--header-h);

  &__inner {
    height: inherit;
  }

  &__logo {
    position: fixed;
    top: calc((var(--header-h) - rem(41)) / 2);
    left: rem(20);
    z-index: z("header");

    @include mq(tab) {
      left: rem(40);
    }

    a {
      display: flex;
      align-items: center;
      height: inherit;
    }
  }

  &__logo-text {
    font-family: var(--ff-garamond);
    font-size: rem(24);
    font-weight: 400;
    background: var(--gradient-logo);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__nav-wrap {
    display: flex;
    gap: rem(32);
    align-items: center;
  }

  &__nav,
  &__nav-simple {
    @include mq(nav) {
      position: fixed;
      top: calc((var(--header-h) - 1lh) / 2);
      right: calc(rem(40) + rem(117) + rem(32));
      z-index: z("header");
    }
  }

  &__nav-simple {
    color: #fff;
    pointer-events: none;
    mix-blend-mode: difference;

    @include mq(nav, max) {
      display: none;
    }
  }
}
