@use "../foundation" as *;

/* ========================================
  wrapper（共通）
======================================== */
.l-wrapper {
  display: grid;
  grid-template:
    "header" var(--header-h)
    "main" 1fr
    "footer";
  min-height: 100vh;

  > .l-header {
    grid-area: header;
  }

  > .l-main {
    grid-area: main;
    margin-top: calc(var(--header-h) * -1);
  }

  > .l-footer {
    grid-area: footer;
  }
}
