@use "../../foundation" as *;

/* ========================================
  form
======================================== */
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.p-form {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 8px;

  @include mq(tab) {
    margin-top: rem(20);
    border-radius: 16px;
  }
}

.p-form__inner {
  padding: rem(20);

  @include mq(tab) {
    padding: rem(70) rem(80);
  }
}

.p-form__desc {
  font-family: var(--ff-gothic);
}

.p-form__group {
  padding-top: rem(47);
  margin-top: rem(32);
  border-top: 1px solid #cdcdcd;

  @include mq(tab) {
    padding-top: rem(63);
    margin-top: rem(40);
  }
}

.p-form__row {
  display: grid;
  gap: rem(8) 0;

  & + .p-form__row {
    margin-top: rem(40);
  }
}

.p-form__label {
  display: grid;
  grid-auto-flow: column;
  gap: 0 rem(10);
  align-items: center;
  justify-content: start;
  font-family: var(--ff-gothic);
  line-height: 1.5;
}

.p-form__required,
.p-form__any {
  padding: 0 rem(8);
  font-size: rem(10);
  color: #fff;
}

.p-form__required {
  background-color: #b09e88;
}

.p-form__any {
  background-color: #858585;
}

.p-form__input {
  $this: &;

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    height: rem(46);
    padding: 0.5em 1em;
    font-family: var(--ff-gothic);
    font-size: rem(14);
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: rem(4);
  }

  textarea {
    width: 100%;
    height: rem(240);
    padding: 0.5em 1em;
    font-family: var(--ff-gothic);
    resize: vertical;
    border: 1px solid #cdd6dd;
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;

    // キーボード操作用設定 ::before ::after を使用する場合は display を使わず下記で
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    + label {
      cursor: pointer;
    }

    &:focus {
      + label {
        text-decoration: underline;
      }
    }

    &:disabled {
      + label {
        color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  &.zip-code {
    display: flex;
    gap: rem(5);
    align-items: center;

    input[type="text"] {
      width: rem(108);
    }
  }
}

.p-form__privacy-policy {
  margin-top: rem(100);
}

.p-form__policy-content {
  max-height: rem(400);
  padding: rem(30);
  overflow-y: scroll;
  overscroll-behavior: contain;
  font-family: var(--ff-gothic);
  border: 1px solid #cdcdcd;

  section {
    counter-reset: ttl-counter;

    & + section {
      margin-top: rem(80);
    }

    h2 {
      margin-bottom: 1em;
      font-size: rem(26);
      font-weight: 500;
      text-align: center;
    }

    h3 {
      margin-block: 2em 1em;
      font-size: rem(20);
      font-weight: 500;
      counter-increment: ttl-counter;

      &::before {
        margin-right: 0.5em;
        content: counter(ttl-counter) "." attr(title);
      }
    }

    h4 {
      margin-block: 1em 0;
      font-size: rem(18);
      font-weight: 500;
    }

    ol,
    ul {
      padding-left: 1.4em;
      margin-bottom: rem(12);

      li + li {
        margin-top: rem(4);
      }
    }

    ol {
      counter-reset: my-counter;

      li {
        position: relative;
        padding-left: 1.4em;

        &::before {
          position: absolute;
          top: calc(1lh - 0.45em);
          left: 0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.3em;
          height: 1.3em;
          font-size: 0.8em;
          line-height: 1;
          content: counter(my-counter);
          counter-increment: my-counter;
          border: 1px solid;
          border-radius: 50%;
        }
      }
    }
  }

  .p-form__policy-address {
    margin: rem(12) 0;
    font-style: normal;
    line-height: 1.6;
  }
}

.p-form__policy-checkbox {
  display: grid;
  width: fit-content;
  margin-inline: auto;
  margin-top: rem(30);
  font-family: var(--ff-gothic);
  font-size: rem(16);
  font-weight: 500;

  label {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: rem(16);
    align-items: start;

    input[type="checkbox"] {
      position: relative;
      top: 0.2em;
      width: rem(24);
      height: rem(24);
      margin: 0;
      vertical-align: -0.2em;
      appearance: none;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #9d8160;

      &::before {
        transition: 0.3s;
      }

      &:checked {
        background-color: #fff;

        &::before {
          position: absolute;
          top: 0.25em;
          left: 0.15em;
          display: block;
          width: rem(17);
          height: rem(9);
          font-size: rem(16);
          content: "";
          border-bottom: 2px solid #9d8160;
          border-left: 2px solid #9d8160;
          transform: rotate(-45deg);
        }
      }
    }
  }

  a {
    color: #9d8160;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.p-form__btn {
  width: min(100%, rem(320));
  margin-inline: auto;
  margin-top: 40px;

  &.is-disabled {
    cursor: not-allowed;
  }

  input[type="submit"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: rem(16);
    color: #fff;
    background-color: transparent;
    border: none;
  }
}

// contact form 7
.wpcf7-radio {
  display: flex;
  flex-wrap: wrap;
  gap: rem(10) rem(20);
  margin-top: rem(10);
  font-family: var(--ff-gothic);

  label {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: rem(5);
    align-items: center;

    input[type="radio"] {
      position: relative;
      top: 0.05em;
      width: 1em;
      height: 1em;
      margin: 0;
      appearance: none;
      background-color: #fff;
      border: 1px solid #999899;
      border-radius: 50%;
      transition: 0.3s;

      &::before {
        transition: 0.3s;
      }

      &:checked {
        background-color: #fff;

        &::before {
          position: absolute;
          inset-block: 0;
          inset-inline: 0;
          display: block;
          width: 0.625em;
          height: 0.625em;
          margin: auto;
          content: "";
          background-color: var(--color-gold-dark);
          border-radius: 50%;
        }
      }
    }

    a {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }
}

.wpcf7-list-item {
  margin: 0 !important;
}

.wpcf7-spinner {
  position: absolute !important;
  left: 50%;
  margin: 45px 0 0 !important;
  transform: translateX(-50%);
}

.wpcf7-file {
  font-size: 18px;
}

.wpcf7-not-valid-tip {
  font-family: var(--ff-gothic);
}
