@use "../../foundation" as *;

/* ========================================
  nav
======================================== */
.p-nav {
  $this: &;

  &.is-active {
    #{$this}__btn {
      mix-blend-mode: normal;

      #{$this}__line {
        &.-line-01 {
          transform: rotate(45deg);
        }

        &.-line-02 {
          transform: rotate(-45deg);
        }
      }
    }

    #{$this}__menu {
      visibility: visible;
      opacity: 1;
    }
  }

  &__btn {
    position: fixed;
    top: calc((var(--header-h) - rem(32)) / 2);
    right: rem(20);
    z-index: z("nav-btn");
    display: grid;
    place-items: center;
    width: rem(32);
    height: rem(32);
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    mix-blend-mode: difference;

    @include mq(nav) {
      display: none;
    }
  }

  &__lines {
    position: relative;
    display: block;
    width: 100%;
    height: 30%;
  }

  &__line {
    position: absolute;
    inset-block: 0;
    display: block;
    width: 100%;
    height: 1px;
    margin-block: auto;
    background-color: #fff;
    transition: 0.3s ease-in;
    transition-property: opacity, transform;

    @include mq(tab) {
      height: 2px;
    }

    &.-line-01 {
      transform: translateY(rem(-4));
    }

    &.-line-02 {
      transform: translateY(rem(4));
    }
  }

  &__menu {
    @include mq(nav, max) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: z("nav");
      display: block;
      visibility: hidden;
      width: 100%;
      height: 100vh;
      height: 100svh;
      padding: rem(98) calc(var(--container-space) / 2);
      overflow: auto;
      overscroll-behavior-y: contain;
      background: linear-gradient(to bottom, rgba(#202020, 0.9), #202020);
      opacity: 0;
      transition: 0.3s ease-in;
    }
  }

  &__logo {
    position: absolute;
    top: calc((var(--header-h) - rem(41)) / 2);
    left: rem(20);

    @include mq(nav) {
      display: none;
    }

    @include mq(tab) {
      left: rem(40);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include mq(nav) {
      flex-direction: row;
      gap: rem(29);
      align-items: center;
      justify-content: start;
    }

    @include mq(nav, max) {
      width: min(100%, rem(500));
      margin-inline: auto;
    }
  }

  &__link-hover,
  &__link {
    position: relative;
    display: block;
    font-family: var(--ff-garamond);
    font-size: rem(24);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;

    @include mq(nav) {
      padding-bottom: rem(16);
      font-size: rem(16);
    }

    &::after {
      @include mq(nav) {
        position: absolute;
        inset-inline: 0;
        bottom: -1px;
        z-index: 3;
        width: rem(40);
        height: 1px;
        margin-inline: auto;
        content: "";
        background-color: #c78624;
        opacity: 0;
        transition: 0.3s opacity;
      }
    }

    &:hover,
    &:focus-within {
      &::after {
        @include mq(nav) {
          opacity: 1;
        }
      }
    }
  }

  &__link-hover {
    display: flex;
    align-items: center;
    height: 100%;

    @include mq(nav, max) {
      flex-direction: column;
      width: 100%;
    }

    #{$this}__link {
      padding-bottom: 0;

      @include mq(nav, max) {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &:hover,
    &:focus-within {
      @include mq(nav) {
        #{$this}__dropdown {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__link,
  &__toggle-btn {
    @include mq(nav, max) {
      border-bottom: 1px solid #4a4949;
    }

    &::after {
      @include mq(nav, max) {
        position: absolute;
        inset-block: 0;
        right: 0;
        display: block;
        width: rem(8);
        height: rem(14);
        margin-block: auto;
        content: "";
        background: url("../img/common/icon/arrow_r.webp") no-repeat center /
          contain;
      }
    }
  }

  &__link {
    @include mq(nav, max) {
      padding-block: rem(14);
      color: #fff;
    }

    .l-header__nav & {
      @include mq(nav) {
        color: transparent;
      }
    }
  }

  &__toggle-btn {
    display: none;

    @include mq(nav, max) {
      position: relative;
      display: block;
      width: 100%;
      padding: rem(14) 0;
      color: #aeaeae;
      text-align: left;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #4a4949;
    }

    &::after {
      right: rem(4);
      transform: rotate(90deg);
      transition: transform 0.5s;
    }

    &.is-open {
      &::after {
        @include mq(nav, max) {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__dropdown {
    color: #fff;

    @include mq(nav) {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 3;
      visibility: hidden;
      width: max-content;
      padding: rem(20);
      background-color: #000;
      box-shadow: 3px 3px 6px rgb(0 0 0 / 20%);
      opacity: 0;
      transform: translateX(-50%);
      transition: 0.3s;
    }

    @include mq(nav, max) {
      width: 100%;
      height: 0;
      overflow: hidden;
      background-color: #1b1b1b;
      transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__dropdown-list {
    display: grid;
    gap: rem(8);

    @include mq(nav, max) {
      gap: rem(12);
      padding-block: rem(14);
    }
  }

  &__dropdown-link {
    position: relative;
    display: block;
    padding-inline: rem(18);
    font-size: rem(14);
    font-weight: 500;

    @include mq(nav) {
      padding-inline: 0 rem(52);
    }

    &::after {
      position: absolute;
      inset-block: 0;
      right: rem(17);
      display: block;
      width: rem(28);
      height: rem(7);
      margin-block: auto;
      content: "";
      background: url("../img/common/icon/arrow_solid_r.webp") no-repeat
        center / contain;

      @include mq(nav) {
        right: rem(5);
      }
    }

    @media (any-hover: hover) {
      span {
        position: relative;
        background: linear-gradient(#fff, #fff) 100% 100%/0 1px no-repeat;
        transition: background-size 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      }

      &::after {
        transition: right 0.3s;
      }

      &:hover {
        span {
          background-position: 0 100%;
          background-size: 100% 1px;
        }

        &::after {
          right: 0;
        }
      }
    }
  }

  &__contact {
    @include mq(nav) {
      position: fixed;
      top: calc((var(--header-h) - rem(33)) / 2);
      right: rem(40);
      z-index: z("header");
    }

    @include mq(nav, max) {
      margin-top: rem(40);
      text-align: center;
    }
  }

  &__contact-btn {
    position: relative;
    display: inline-grid;
    place-items: center;
    width: rem(117);
    height: rem(33);
    padding: rem(5);
    font-family: var(--ff-garamond);
    font-size: rem(16);
    line-height: 1.2;
    color: #fff;
    background-image: var(--gradient-gold);
    background-position: left center;
    background-size: 200% 100%;
    border-radius: 100vmax;
    transition: all 0.3s;

    @include mq(nav, max) {
      width: min(100%, rem(335));
      height: rem(58);
      font-size: rem(24);
    }

    &::before {
      position: absolute;
      top: -1px;
      left: -1px;
      z-index: -1;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      content: "";
      background-image: linear-gradient(120deg, #785e3e, #e7c8a3);
      background-size: 100%;
      border-radius: 100vmax;

      @include mq(nav, max) {
        display: none;
      }
    }

    &::after {
      @include mq(nav, max) {
        position: absolute;
        inset-block: 0;
        right: rem(20);
        width: rem(28);
        height: rem(7);
        margin-block: auto;
        content: "";
        background: url("../img/common/icon/arrow_solid_r.webp") no-repeat
          center/contain;
      }
    }

    @media (any-hover: hover) {
      transition: background-position 0.3s;

      &:hover {
        background-position: right center;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z("nav-overlay");
    visibility: hidden;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: #fff;
    opacity: 0;
    transition:
      0.3s opacity,
      0.3s visibility;

    &.is-active {
      visibility: visible;
      opacity: 1;
    }
  }
}

.p-nav-page {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(18) rem(15);

    @include mq(tab) {
      gap: rem(24);
    }

    > li {
      flex: 0 0 calc(50% - rem(24));

      @include mq(tab) {
        flex: 0 0 auto;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: rem(10) rem(30) rem(10) rem(10);
    font-family: var(--ff-gothic);
    font-size: rem(14);
    line-height: 1.8;
    color: var(--main-text-color);
    text-decoration: none;
    border-bottom: 1px solid #d8d8d8;
    transition: border-color 0.3s;

    @include mq(tab) {
      min-width: rem(160);
    }

    &::after {
      position: absolute;
      inset-block: 0;
      right: rem(10);
      display: block;
      width: rem(10);
      height: rem(5);
      margin-block: auto;
      content: "";
      background: url("../img/common/icon/arrow_b_brown.webp") no-repeat
        center / contain;
    }

    &.-active {
      border-bottom-color: var(--color-gold-dark);
    }

    @media (any-hover: hover) {
      &:hover {
        border-bottom-color: var(--color-gold-dark);
      }
    }
  }
}

.p-nav-article {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  margin-top: rem(95);

  &__prev,
  &__next,
  &__all {
    display: block;
    font-weight: 500;
  }

  &__all {
    font-size: rem(18);
    text-decoration: underline;
    text-underline-offset: rem(14);

    @media (hover: hover) {
      transition: 0.3s;
      transition-property: text-underline-offset, color;

      &:hover {
        color: var(--color-gold-dark);
        text-underline-offset: rem(16);
      }
    }
  }

  &__prev,
  &__next {
    position: absolute;
    font-family: var(--ff-garamond);
    font-size: rem(20);

    &::before {
      position: absolute;
      inset-block: 0;
      display: block;
      width: rem(24);
      height: rem(7);
      margin-block: auto;
      content: "";
      background: url("../img/common/icon/arrow_solid_r_black.webp") no-repeat
        center / contain;
    }

    @media (hover: hover) {
      transition: 0.3s;
      transition-property: color;

      &::before {
        transition: 0.3s;
        transition-property: transform;
      }

      &:hover {
        color: var(--color-gold-dark);
      }
    }
  }

  &__prev {
    left: rem(-75);

    @include mq(tab) {
      left: rem(-115);
    }

    &::before {
      left: rem(-38);
      transform: scaleX(-1);
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          transform: scaleX(-1) translateX(rem(4));
        }
      }
    }
  }

  &__next {
    right: rem(-75);

    @include mq(tab) {
      right: rem(-115);
    }

    &::before {
      right: rem(-38);
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          transform: translateX(rem(4));
        }
      }
    }
  }
}
