@use "../../foundation" as *;

/* ========================================
  ttl
======================================== */
.p-ttl-a {
  $ttl-a: &;

  display: inline-grid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: fit-content;

  &__en {
    padding-bottom: 0.15em;
    font-family: var(--ff-garamond);
    font-size: rem(60);
    font-weight: 400;
    line-height: 1;
    background: var(--gradient-text-light);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mq(tab) {
      font-size: rem(90);
    }
  }

  &__ja {
    padding-left: 0.2em;
    font-family: var(--ff-noto-serif);
    font-size: rem(14);
    font-weight: 400;

    @include mq(tab) {
      font-size: rem(16);
    }
  }

  &.-dark {
    #{$ttl-a}__en {
      background: var(--gradient-text-dark);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    #{$ttl-a}__ja {
      color: #fff;
    }
  }

  &.-lg {
    #{$ttl-a}__en {
      font-size: rem(72);

      @include mq(tab) {
        font-size: rem(100);
      }

      .performance & {
        @include mq(tab, max) {
          letter-spacing: -0.028em;
        }
      }

      .tax &,
      .audit & {
        @include mq(tab, max) {
          font-size: rem(69);
        }
      }
    }

    #{$ttl-a}__ja {
      font-size: rem(20);

      .group & {
        margin-top: rem(10);

        @include mq(tab) {
          margin-top: rem(15);
        }
      }

      .tax &,
      .audit & {
        @include mq(tab, max) {
          margin-top: rem(14);
        }
      }
    }
  }
}

.p-ttl-b {
  margin-bottom: rem(8);
  font-family: var(--ff-mincho);
  font-size: rem(24);
  font-weight: 700;

  @include mq(tab) {
    margin-bottom: rem(5);
    font-size: rem(28);
  }
}
